body {
	margin: 0;
}
.App {
	font-size: 12px;
}
h1,
h2,
h3,
h4,
p {
	margin: 0;
}
.mr_10 {
	margin-right: 10px;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex {
	display: flex;
}
.nav {
	display: flex;
	justify-content: space-between;
}
.content {
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
/* 顶部导航栏 */
header {
	width: 100%;
	height: 110px;
	.head_top {
		width: 100%;
		border-bottom: 1px solid #e7e7e7;
		.top_con {
			height: 30px;
			align-items: center;
			justify-content: space-between;
		}
		.adress {
			color: #8f8f8f;
			margin: 0;
			position: relative;
			padding: 0 15px;
			.icon_adress {
				display: block;
				width: 10px;
				height: 15px;
				background: url("./img//adress.png") no-repeat;
				background-size: 90% 90%;
				padding-right: 3px;
				position: absolute;
				left: 0;
				top: 1px;
			}
			.icon_floor {
				display: block;
				width: 10px;
				height: 6px;
				background: url("./img//icon_floor.png") no-repeat;
				background-size: 100% 100%;
				padding-right: 3px;
				position: absolute;
				right: -2px;
				top: 5px;
			}
		}
		.right {
			width: 535px;
			justify-content: space-between;
			ul {
				width: 370px;
				margin: 0 0 0 13px;
				li {
					height: 20px;
					color: #d3d3d3;
					padding: 0 12px;
					position: relative;
					cursor: pointer;
					&::after {
						content: "";
						height: 15px;
						width: 1px;
						background-color: #d3d3d3;
						position: absolute;
						top: 1px;
						right: 0;
					}
					&.bor_0 {
						&::after {
							content: "";
							height: 15px;
							width: 1px;
							background-color: transparent;
							position: absolute;
							top: 1px;
							right: 0;
						}
					}
				}
			}
		}
		.login {
			color: #adadad;
			margin: 0 13px;
			cursor: pointer;
		}
		.register {
			color: #ff6600;
			margin: 0 13px;
			cursor: pointer;
		}
	}
	.head_con {
		width: 100%;
		height: 80px;
		.head_con_con {
			align-items: center;
			justify-content: space-between;
			height: 80px;
			/* logo */
			.logo {
				width: 280px;
				img {
					width: 100%;
				}
			} /* 搜索框 */
			.search {
				width: 504px;
				height: 80px;
				.search_con {
					margin-top: 16px;
					width: 100%;
					height: 28px;
					border: 2px solid #ff6600;
					.select {
						width: 60px;
						height: 28px;
						line-height: 28px;
						text-align: center;
						color: #333;
						font-weight: 600;
						position: relative;
						&::after {
							content: "";
							position: absolute;
							width: 2px;
							height: 15px;
							background: #adadad;
							right: 0;
							top: 6px;
						}
					}
					input {
						padding: 0;
						width: 100%;
						height: 28px;
						text-indent: 20px;
						border: 0;
						font-size: 12px;
						color: #adadad;
						outline: none;
					}
					button {
						border: 0;
						width: 50px;
						height: 29px;
						background: #ff6600;
						padding: 0;
						i {
							display: block;
							width: 20px;
							height: 20px;
							background: url("./img/search.png") no-repeat;
							margin: 2px auto 0;
						}
					}
				}
				.search_text {
					width: 440px;
					margin-top: 5px;
					ul {
						width: 440px;
						overflow: hidden;
						justify-content: space-between;
						li {
							color: #adadad;
						}
					}
				}
			}
			/* 订阅 */
			.subscribe {
				width: 120px;
				height: 30px;
				line-height: 30px;
				background: #30bb5a;
				text-align: center;
				cursor: pointer;
				margin-top: -16px;
				a {
					color: #fff;
					font-size: 14px;
					&::before {
						content: "";
						display: inline-block;
						width: 17px;
						height: 17px;
						background: url("./img/person.png") no-repeat;
						vertical-align: middle;
						background-size: 90% 87%;
						margin-right: 5px;
					}
				}
			}
		}
	}
}

/* 导航栏 */
nav {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #333;
	a {
		color: #fff;
		float: left;
		text-decoration: none;
		display: block;
		width: 88px;
		height: 100%;
		text-align: center;
		font-size: 16px;
		position: relative;
		margin-right: 30px;
		&.active {
			background: #ff6600;
		}
		&.new {
			&::after {
				content: "";
				position: absolute;
				width: 26px;
				height: 15px;
				background: url("./img/NEW.png") no-repeat;
				right: -11px;
				top: -3px;
			}
		}
	}
}
/* 轮播图 */
.banner {
	width: 100%;
	height: 300px;
	img {
		width: 100%;
		height: 100%;
	}
}
/* 主体 */
.main {
	padding-top: 20px;
	width: 100%;
	background: #f4f4f4;
}
/* 名师推荐 */
.recommend {
	width: 100%;
	.recommend_title {
		height: 60px;
		line-height: 60px;
		align-items: center;
		justify-content: space-between;
		h4 {
			font-size: 18px;
			color: #333;
		}
		span {
			font-size: 12px;
			color: #30bb5a;
			position: relative;
			padding-right: 30px;
			i {
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url("./img//shuxin.png") no-repeat;
				background-position: center center;
				position: absolute;
				top: -3px;
				right: 10px;
			}
		}
	}
	.recommend_con {
		width: 100%;
		ul {
			width: 100%;
			justify-content: space-between;
			li {
				width: 285px;
				height: 295px;
				&:hover {
					box-shadow: 0 0px 5px 2px #d9d9d9;
				}
				.top {
					height: 130px;
					width: 100%;
					background: #4fbb93;
					position: relative;
					.subject {
						position: absolute;
						right: 0;
						top: 0;
						display: block;
						background: url("./img/chemistry.png") no-repeat;
						width: 58px;
						height: 20px;
					}
					.top_con {
						padding: 25px;
						.img {
							width: 80px;
							height: 80px;
							border-radius: 100%;
							margin-right: 14px;
						}
						.top_text {
							p {
								color: #fff;
								margin-bottom: 10px;
								&.name {
									font-size: 18px;
								}
							}
						}
					}
				}
				.bot {
					height: 164px;
					width: 283px;
					background: #fff;
					border: 1px solid #e7e7e7;
					border-top: none;
					.bot_con {
						padding: 24px;
						width: 100%;
						box-sizing: border-box;
						p {
							height: 25px;
							line-height: 25px;
							width: 100%;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: 12px;
							color: #666;
							i {
								display: inline-block;
								width: 24px;
								height: 10px;
								background: url("./img/hot.png") no-repeat;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
}
.hot_teacher {
	justify-content: space-between;
	.left {
		width: 895px;
		height: 395px;
		.left_title {
			height: 60px;
			line-height: 60px;
			justify-content: space-between;
			h4 {
				color: #333;
				font-size: 18px;
			}
			ul {
				align-items: center;
				width: 510px;
				justify-content: space-between;
				li {
					color: #39ba5e;
					width: 40px;
					height: 20px;
					text-align: center;
					line-height: 20px;
					font-size: 14px;
					cursor: pointer;
					&.active {
						background: #39ba5e;
						color: #fff;
					}
					&:hover {
						background: #39ba5e;
						color: #fff;
					}
				}
				span {
					display: inline-block;
					margin-left: 40px;
					color: #39ba5e;
					cursor: pointer;
				}
			}
		}
		.left_con {
			width: 100%;
			height: 330px;
			ul {
				width: 100%;
				height: 330px;
				justify-content: space-between;
				flex-wrap: wrap;
				li {
					height: 150px;
					width: 283px;
					border: 1px solid #e8e8e8;
					background-color: #fff;
					&:hover {
						box-shadow: 0 0px 5px -1px #d9d9d9;
					}
					.top {
						width: 100%;
						height: 110px;
						padding: 17px 0 0 20px;
						box-sizing: border-box;
						.img {
							width: 70px;
							height: 70px;
							border-radius: 100%;
							margin-right: 15px;
							img {
								width: 100%;
								height: 100%;
							}
						}
						.text {
							.name {
								font-size: 18px;
								color: #333;
							}
							.subject {
								margin: 10px 0;
								width: 60px;
								height: 20px;
								background: url("./img/chemistry.png") no-repeat;
							}
							.school {
								color: #30bb5a;
							}
						}
					}
					.but {
						padding: 0 15px;
						p {
							width: 100%;
							height: 45px;
							line-height: 45px;
							border-top: 1px solid #eaeaea;
							position: relative;
							&::after {
								content: "";
								width: 1px;
								height: 20px;
								background: #e6e6e6;
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
							}
							span {
								display: inline-block;
								width: 50%;
								height: 100%;
								line-height: 1;
								text-align: center;
								color: #999999;
							}
						}
					}
				}
			}
		}
	}
	.right {
		width: 285px;
		height: 395px;
		.right_title {
			height: 60px;
			line-height: 60px;
			color: #333;
			font-size: 18px;
		}
		.right_con {
			height: 317px;
			border: 1px solid #e7e7e7;
			background: #fff;
			padding: 20px 17px 0 17px;
			box-sizing: border-box;
			width: 100%;
			li {
				border-bottom: 1px solid #e7e7e7;
				cursor: pointer;
				&.hide {
					display: flex;
					img {
						display: none;
					}
					.text {
						display: flex;
						p {
							margin-right: 10px;
							line-height: 32px;
						}
					}
				}
				&.show {
					display: flex;
					img {
						display: block;
					}
					.text {
						p {
							line-height: 20px;
						}
					}
				}
			}
			.one {
				span {
					color: #ff0101;
					font-size: 24px;
				}
			}
			.img {
				margin: 0 10px 28px;
			}
			.text {
				p {
					margin-bottom: 10px;
					color: #999999;
				}
				.name {
					font-size: 14px;
					color: #333;
					font-weight: 600;
				}
			}
			.two {
				height: 45px;
				line-height: 45px;
				align-items: center;
				span {
					color: #999999;
				}
				.rank {
					font-size: 24px;
					color: #ff6b1a;
				}
				.name {
					font-size: 14px;
					color: #333;
					font-weight: 600;
				}
				.wk {
					margin-left: 40px;
				}
			}
			.three {
				.rank {
					color: #ffa716;
				}
			}
			.four {
				.rank {
					color: #9a9a9a;
				}
			}
			.five {
				border: none;
			}
		}
	}
}
// 微课精选
.wkjx {
	width: 1200px;
	height: 350px;
	margin: auto;
	display: flex;
	justify-content: space-between;

	.wkjx_left {
		width: 900px;
		height: 100%;
		.title {
			width: 100%;
			height: 50px;
			line-height: 50px;
			font-size: 18px;
			font-weight: bold;
		}
		.con {
			width: 100%;
			height: 300px;
			background: white;
			.con-nav {
				width: 100%;
				height: 40px;
				line-height: 40px;
				display: flex;
				border: 1px solid gainsboro;
				li {
					margin: 0px 10px;
					padding: 0px 6px;
					cursor: pointer;
				}
				.math {
					color: #1cf175;
					border-left: 1px solid gainsboro;
					border-right: 1px solid gainsboro;
					border-top: 1px solid gainsboro;
				}
				span {
					margin-left: 350px;
				}
			}
			.con-con {
				width: 100%;
				height: 280px;
				.con-text {
					display: flex;
					flex-wrap: wrap;
					.color {
						color: #1cf175;
					}
					span {
						background: gainsboro;
						padding: 3px 5px;
						margin: 10px 10px 0px 15px;
						cursor: pointer;
					}
				}
				.shuxue {
					width: 100%;
					display: flex;
					margin: 15px 0px;
					li {
						width: 190px;
						height: 110px;
						text-align: center;
						color: white;
						font-size: 16px;
						margin: 15px 10px 0px 15px;
						line-height: 110px;
						cursor: pointer;
					}
					.shuxue1 {
						background: #85c3f7;
					}
					.shuxue2 {
						background: #0d943a;
					}
					.shuxue3 {
						background: #1cf175;
					}
					.shuxue4 {
						background: #cb8ef3;
					}
				}
				.con-bto {
					width: 100%;
					text-align: center;
					margin-top: 30px;
				}
			}
		}
	}
	.wkjx_right {
		width: 280px;
		height: 100%;
		.title {
			font-size: 18px;
			font-weight: bold;
			height: 50px;
			line-height: 50px;
		}
		.con {
			width: 100%;
			height: 300px;
			background: white;
			.con-con {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: 0px 15px;
				li {
					height: 60px;
					line-height: 60px;
					display: flex;
					.num {
						color: red;
						font-size: 24px;
						font-weight: bold;
					}
					.subject {
						margin: 0px 20px;
						font-weight: bold;
						font-size: 14px;
					}
					.mount {
						font-size: 12px;
						color: gray;
					}
				}
			}
		}
	}
}
// 真题解析
.ztjx {
	width: 1200px;
	height: 350px;
	margin: auto;
	justify-content: space-between;
	.ztjx-l {
		width: 900px;
		height: 100%;
		.ztjx-top {
			height: 50px;
			line-height: 50px;
			h4 {
				font-size: 18px;
			}
			span {
				font-size: 16px;
				color: #1cf175;
			}
		}
		.ztjx-bto {
			height: 300px;
			justify-content: space-between;
			.ztjx-bto-l {
				width: 290px;
				background: red;
			}
			.ztjx-bto-r {
				width: 590px;
				background: #1cf175;
			}
		}
	}
	.ztjx-r {
		width: 280px;
		height: 100%;
		background: yellow;
	}
}
.footer {
	// height: 610px;
	background: #333;
}
